.block{
    border: 5px solid gray;
    resize: both;
    overflow: auto;
    width: 1235px;
    height: 670px;
    display: flex;
    flex-wrap: wrap;
    /* margin-top: 2%;
    margin-left: 1%; */
    margin: auto;
    margin-top: 10%;
    box-shadow:1px 2px 1px 2px lightgray;
    background-color: white;
    border-radius: 1%;
    z-index: 289;
    position: relative;
   
}

.blockName{
    width: 1235px;
    height: 30px;
    border: none;
    outline: medium;
}

.stickyNote{
    height: 250px;
    width: 250px;
    background-color: rgb(255, 176, 79);
    text-align: start;
    border: none;
    outline: medium;
    font-size: 20px;
}

.noteTrash{
    position: absolute;
    bottom:1%;
    left:80%;
}

.blockTrash{
    position: absolute;
    right: 1%;
    top:1%;
    z-index: 999;
}

.block:hover .trashCan{
    display: block;
}

#addBlock{
    position: absolute;
    right: 1%;
    top: 1%
}

@media screen and (max-width: 1800px) {
    .block{
        width: 600px;
        height: 350px;
    }
}
