.block{
    border: 2px solid gray;
    width: 800px;
    height: 560px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
    margin-left: 1%;
}

.stickyNote{
    height: 250px;
    width: 250px;
    background-color: rgb(251,176,59);
    text-align: start;
    border: none;
    outline: medium;
    font-size: 20px;
}

