.block{
    border: 5px solid gray;
    resize: both;
    overflow: auto;
    width: 800px;
    height: 560px;
    display: flex;
    flex-wrap: wrap;
    /* margin-top: 2%;
    margin-left: 1%; */
    margin: auto;
    margin-top: 3%;
    box-shadow:1px 2px 1px 2px lightgray;
    position: relative;
   
}

.stickyNote{
    height: 250px;
    width: 250px;
    background-color: rgb(251,176,59);
    text-align: start;
    border: none;
    outline: medium;
    font-size: 20px;
}

.noteTrash{
    position: absolute;
    bottom:1%;
    left:80%;
}

.blockTrash{
    position: absolute;
    right: 1%;
    top:1%
}

.block:hover .trashCan{
    display: block;
}

#addBlock{
    position: absolute;
    right: 1%;
    top: 1%
}
