body{
    margin: 0px;
    height: 100vh;
    width: 100vw;
}

/* #mainHeader{
    display: flex;
    justify-content: space-between;
    background-color: rgb(183,194,180);
    /* margin: 10px 10px 0px 10px; */
    /* font-family: Futura,Trebuchet MS,Arial,sans-serif;  */
    /* height: 5vh; */
/* } */ 

/* #index{
    width: 350px;
    display: flex;
    justify-content: space-evenly;
    line-height: 5vh;
} */

#area{
    display: flex;
    width: 100vw;
}

/* .screen{
    display: flex;
    height:95vh;
} */

/* .bar_block{
    transition: box-shadow 300ms ease-in 0s; 
} */

#sidebarArea{
    font-family: Futura,Trebuchet MS,Arial,sans-serif;;
    width: 10vw;
    height: 100vh;
}

.smallIcon{
    border:none;
    background-color: transparent;
    outline: medium;
}

.smallIcon:hover{
    background-color: Gainsboro;
    border-radius: 5px;
}

#sidebar{
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    /* max-height: 100%; */
    background-color: rgb(54,119,115);
    height: 100vh;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
    color: rgb(214,201,177);
    font-family: Helvetica, sans-serif;
}

#hamburger{
    display: flex;
    cursor: pointer;
    height: 8vh;
    line-height: 100px;
    margin-left: 5%;
    /* margin-top: 5%; */
}

.close_button{
    background-color: transparent;
    outline: medium;
    border: none;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    font-size: 22px;
    color: rgb(214,201,177)
}

.downBefore{
    height:10px;
    width: 10px;
    margin-right: 5%;
}

.down{
    height:10px;
    width: 10px;
    margin-right: 5%;
}

.bar_item{
    cursor: pointer;
}

.bar_item:hover{
    background-color: Gainsboro;
    color: SlateGrey
}

.sidebar_button{
    border: none;
    background-color: transparent;
    font-size: 20px;
    color: rgb(214,201,177);
    font-family: Helvetica, sans-serif;
    width: 98px;
    height: 45px;
    outline: medium;
    /* text-align: left; */
}

.sidebar_button:hover{
    background-color: Gainsboro;
    color: SlateGrey;
    cursor: pointer;
}

.dropdown_hover{
    background-color: lightgreen;
}

.dropdown_hover:hover{
    background-color: Gainsboro;
    color: SlateGrey;
}

.down{
    color: WhiteSmoke;
    text-align: center;
} */

#sidebarTop{
    line-height: 8vh;
    height: 10vh;
}

#sidebarContent{
    height: 90vh;
    color: rgb(214,201,177);
    overflow: auto;
    
}

/* #sidebarBottom{
    height: 3vh;
    display: flex;
    justify-content: space-evenly;
    border-top: solid 2px rgb(214,201,177)
} */


#container{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 90vw;
    height: 100vh;
    /* position: relative; */
    /* width: 90vw; */
    /* height: 100%; */
}

#search{
    background-image: url(../images/search.svg);
    background-repeat: no-repeat;
    background-position: right;
    height: 30px;
    width: 300px;
    border: solid 1px;  
    border-radius: 5px;
}

#nav{
    border-bottom: solid 3px rgb(54, 119, 115);
    /* background-color: rgb(225, 229, 223); */
    height: 10vh;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
}

#navTop{
    display: flex;
    justify-content:space-between;
    height: 5vh;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
}

#new{
    position: relative;
}

#import{
    border: solid 2px rgb(54, 119, 115);
    background: rgb(214,201,177);
    text-align: center;
    /* color: rgb(214,201,177); */
    border-radius: 10%;
    font-size: 20px;
    height: 35px;
    width: 70px;
    cursor: pointer;
}

#import:hover{
    background: rgb(54, 119, 115);
    color: rgb(214,201,177);
}

#url{
    width:500px;
    height: 150px;
    box-shadow:1px 2px 1px 2px lightgray;
    background: white;
    position: absolute;
    right:20%;
    top: 80%;
    text-align: center;
    border-radius: 2%;
    line-height: 30px;
}

#navBottom{
    display: flex;
    justify-content: space-between;
    height: 5vh;
    margin-left: 1%;
    margin-right: 1%;
}

#folderNameChange{
    font-size: 20px;
    line-height: 40px;
}


.createIcon{
    cursor: pointer;
    width: 45px;
    height: 45px;
    line-height: 53px;
}

#folderNav{
    display:flex;
    justify-content: space-between;
    width: 250px;
    line-height: 50px;
    line-height: 4vh;
}

#display{
    /* display: flex;
    justify-content: space-around; */
    /* width: 250px; */
    line-height: 53px;
}

.changeIcon{
    height: 26px;
    width: 26px;
}

#dataArea{
    /* display: flex; */
    border-left: solid 5px rgb(225, 229, 223);
    overflow: auto;
    text-align: center;
    position: relative;
}

#close{
    position: absolute;
    top: 1%;
    left: 1%
}

#click{
    background: rgb(225, 229, 223);
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    border-radius: 3%;
}

#highlight{
    line-height: 50px;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
}

.hover:hover{
    border-radius: 10%;
    background-color: lightgray;
    height: 45px;
    cursor: pointer;
}

#box{
    width: 350px;
}


#page{
    display: flex;
    flex-wrap: wrap;
    height: 92vh;
    overflow: auto;
    /* position: relative; */
}

.trashCan{
    display: none;
    cursor: pointer;
}

.bookmarkTrash{
    position: absolute;
    top:1%;
    left:80%;
}

.folderTrash{
    position: absolute;
    top: 50%;
    left:50%
}



.frame:hover .trashCan {
    display: block;
}

/* .top:hover #trashCan {
    display: block;
} */





/* .folderContainer{
    width: 250px;
    height: 250px;
    margin-top: 2%;
    margin-left: 1%;
} */

.folderItem{
    display: flex;
    /* flex-direction: column; */
    position: relative;
    width: 250px;
    height:250px;
}

.folderName{
    width:135px;
    height: 25px;
    /* margin: auto; */
    text-align: center;
    top: 80%;
    left: 10%;
    position: absolute;
    background-color: rgb(85, 141, 143);
    color: white;
    font-size: 20px;
    border: none;
    font-family: Futura,Trebuchet MS,Arial,sans-serif; ;
    
}

.newFolder{
    height: 250px;
    width: 250px;
    margin:auto;
    /* margin-top: 2%;
    margin-left: 1%; */
    z-index: -1;
    position: absolute;
}


/* #option{
    display: none;
    text-align: center;
    border: solid 2px gray;
    height: 40px;
    width: 120px;
    font-family: Helvetica, sans-serif;
    box-shadow:1px 2px 1px 2px lightgray;
    margin-bottom: 10%;
} */

.category{
    line-height:40px;
    cursor: pointer;
}

#folder{
    line-height:40px
}


#folder:hover{
    background-color: rgb(85, 141, 143);
}

.top{
    height: 187.5px;
    text-align: left
}

.thumbnail{
    position: absolute;
    z-index: -1;
}

.default{
    width: 250px;
   height: 187.5px;
}

.frame{
    height: 250px;
    width: 250px;
    margin-top: 2%;
    margin-left: 1%;
    cursor: pointer;
    position: relative;
}

.bookmark{
    border: solid 1px lightgray;
    height: 250px;
    width: 250px;
    box-shadow:1px 2px 1px 2px lightgray;
    position: relative;
}


[draggable="true"]{
    user-select: none;
}

.info{
    border-top: solid 1px lightgray;
}

.title{
    margin-left: 3%;
    margin-top: 2%;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    /* overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; */
}



a{
    text-decoration: none;
    color: green
}

a:hover{
    text-decoration: underline;
}

.flex{
    display: flex;
    justify-content: right;
    font-size: 20px;
    cursor: pointer;
    /* text-align: right; */
}

